In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk

df= pd.read_csv('data/cars.csv')

In [9]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [18]:
dfclear = df.drop(columns=['feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9'])
dfclear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  duration_listed    38531 non-null  int64
dtypes: bool(3), float64(2), int64(5), object(10)
memory usage: 5.1+ MB

In [20]:
columnas = ['manufacturer_name', 'model_name', 'transmission', 'color', 'odometer_value', 'year_produced', 'engine_fuel', 'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state', 'drivetrain', 'is_exchangeable', 'location_region', 'number_of_photos', 'up_counter', 'duration_listed']
for col in columnas:
    print(f"\nValores únicos en '{col}':")
    print(df[col].unique())
    print(f"Número de valores únicos: {df[col].nunique()}")

Valores únicos en 'manufacturer_name':
['Subaru' 'LADA' 'Dodge' 'УАЗ' 'Kia' 'Opel' 'Москвич' 'Alfa Romeo' 'Acura'
 'Dacia' 'Lexus' 'Mitsubishi' 'Lancia' 'Citroen' 'Mini' 'Jaguar' 'Porsche'
 'SsangYong' 'Daewoo' 'Geely' 'ВАЗ' 'Fiat' 'Ford' 'Renault' 'Seat' 'Rover'
 'Volkswagen' 'Lifan' 'Jeep' 'Cadillac' 'Audi' 'ЗАЗ' 'Toyota' 'ГАЗ'
 'Volvo' 'Chevrolet' 'Great Wall' 'Buick' 'Pontiac' 'Lincoln' 'Hyundai'
 'Nissan' 'Suzuki' 'BMW' 'Mazda' 'Land Rover' 'Iveco' 'Skoda' 'Saab'
 'Infiniti' 'Chery' 'Honda' 'Mercedes-Benz' 'Peugeot' 'Chrysler']
Número de valores únicos: 55

Valores únicos en 'model_name':
['Outback' 'Forester' 'Impreza' ... '180' 'Vision' 'Aspen']
Número de valores únicos: 1118

Valores únicos en 'transmission':
['automatic' 'mechanical']
Número de valores únicos: 2

Valores únicos en 'color':
['silver' 'blue' 'red' 'black' 'grey' 'other' 'brown' 'white' 'green'
 'violet' 'orange' 'yellow']
Número de valores únicos: 12

Valores únicos en 'odometer_value':
[190000 290000 402000 ... 348600 354201 777957]
Número de valores únicos: 6063

Valores únicos en 'year_produced':
[2010 2002 2001 1999 2011 1998 2004 2003 2008 2005 2014 2013 2006 2007
 1997 1994 1993 1991 2016 2009 2012 1995 1992 2000 1996 2017 2015 1987
 2018 1990 2019 1986 1977 1982 1981 1979 1978 1984 1980 1988 1985 1989
 1960 1975 1972 1976 1959 1973 1983 1956 1962 1963 1974 1971 1968 1967
 1966 1964 1969 1965 1950 1942 1961 1970]
Número de valores únicos: 64

Valores únicos en 'engine_fuel':
['gasoline' 'gas' 'diesel' 'hybrid-petrol' 'hybrid-diesel' 'electric']
Número de valores únicos: 6

Valores únicos en 'engine_type':
['gasoline' 'diesel' 'electric']
Número de valores únicos: 3

Valores únicos en 'engine_capacity':
[2.5   3.    2.    3.6   1.3   2.2   1.6   1.5   1.2   1.    1.8   1.7
 1.1   1.4   2.4   3.3   2.7   3.5   3.2   3.8   5.2   5.7   3.9   5.9
 3.7   4.7   4.2   2.8   2.9   2.3   1.9   3.1   2.6   2.1   0.9   4.6
 5.    4.3   4.    0.2   4.8   4.5   0.8     nan 5.8   5.4   6.    4.9
 7.5   6.4   6.8   4.1   6.2   3.4   4.4   8.    5.3   5.6   5.5   5.461
 6.3   0.5  ]
Número de valores únicos: 61

Valores únicos en 'body_type':
['universal' 'suv' 'sedan' 'hatchback' 'liftback' 'minivan' 'minibus'
 'van' 'pickup' 'coupe' 'cabriolet' 'limousine']
Número de valores únicos: 12

Valores únicos en 'has_warranty':
[False  True]
Número de valores únicos: 2

Valores únicos en 'state':
['owned' 'emergency' 'new']
Número de valores únicos: 3

Valores únicos en 'drivetrain':
['all' 'front' 'rear']
Número de valores únicos: 3

Valores únicos en 'is_exchangeable':
[False  True]
Número de valores únicos: 2

Valores únicos en 'location_region':
['Минская обл.' 'Гомельская обл.' 'Брестская обл.' 'Могилевская обл.'
 'Витебская обл.' 'Гродненская обл.']
Número de valores únicos: 6

Valores únicos en 'number_of_photos':
[ 9 12  4 14 20  8  7 17 18 13 24  6 10 30  5 26 25 16 11 22 28  1  3 15
 19  2 21 27 35 23 31 29 39 34 56 32 37 33 48 36 42 61 57 40 45 46 49 55
 41 38 47 86 53 43 50 44 54 52 71 51 68]
Número de valores únicos: 61

Valores únicos en 'up_counter':
[  13   54   72   42    7   56  147   29   33   11    6   61    2   94
   34   22  166   14   18   25   44   62   23   10  103   21   20   47
    5   16  132   40   28    1  330   77    3   12    8   15   27   80
   35   45    4   50  107   32   17   92   91    9   19   41   39   30
   48   36   58   46  337  859  197   31  250   88   89   51   83  140
  119   38  131   24   55   82  110   64   60  713  135   43   57   79
   73   53  136   69   26   49  383  219   63  139  507   52   99  118
   59  237  145  345   84   78  223   66   37  102  288  115   97  214
  173  150   74   86   67  109   81  182  191  122  489   70  144  179
  186  178  112  124  133  164  127   75  236  161  126   68  137  125
   71  130  978   76   85  675  134  354   65  157  138  187  151  329
  121  175  248   90  177  490  160  163  222  275  446   93  117   96
  101  751  593  393  105  245  670  240  217  180  154  707  200  238
  129  155  228  192  286  162   98  220  120  840  762  631  146  142
  209  225  208  104  149  253  116   95  283  471  496  141  128   87
  389  352  360  252  156  168  106  215  188  193  172  239  113  171
  449  226  148  356  355  331  111  273  190  159  229  258  199  563
  293  392  263  294  205  569  165  660  308  954  176  699  235  315
  100  167  230 1016  247  540  301  123  257  733  396  242  221  277
  718  114  643  366  395  184  233  309  614  729  108  291  243 1271
  268  207  261  326  185  407  213  454  706  311  249  462  152  577
  143  316  617  198  668  553  246  295  343  282  262  153  181  170
  433  511  310  234  703 1025  305  264  314  886  339  174  292  304
  419 1618  280  528  380  272  381 1185  201  218  224  183  211  269
  276  410  313  289  456  195  206  488  194  169  397  212  332  530
  196  622  937  363  347  371  444 1186  231  203  585  320  473  460
  357  525 1861  564  478 1273  538 1039  588  615  296  451  319  493
  426  450  324  412  515  350]
Número de valores únicos: 384

Valores únicos en 'duration_listed':
[  16   83  151   86    7   67  307   73   87   43   11   80    2  230
   63   35  468   21   59   13  188   37  204   71  581   48   60   85
   91   20  174   62   15   70   46    1  419  109   10    6   56   54
    4  261    9   90  184   22   82   88  370   65  103  158   61   58
   31  120    3   97  179   30   72  206   89   76  207  520   24   17
   75   27   57  254  121  163  249  166   38   98    8   45   52   36
   50   18   53   78  262  132   40  227   12   14  129   77   33  118
  185   64  491   94   28  259   26  107  465   23   66  493  196   29
  178  258   32  101   84  139  383   42  134   81  352  176  197  117
  122   68   99   74  126   79  113  130  136  142  144  150  152  153
  154  159  165  228  232  233  301  310  397  955 1153 1322    0   51
   55   34   41  147  140  156  183   69  111  131  133  145  148  160
  384  231  490  404  105   47  287  329   44   25  182   19  114  213
   49  124  162  267    5   95  175 1151  220  272  167  292  509  123
  238  252  108  146  164  235  198  186  202   39  395  110   96  192
  138  155  157  161  173  229  278  294  125  613   93  372  887  462
  253  223  102  247  569  104  607  250  289  187  709  180  240  276
  482  149  455  288  361  298  100  112  374  217  224  193  236  106
  424  209  237   92  412  430  281  251  296  599  171  141  286  127
  203 1114  116  115  119  168  169  172  190  214  215  218  349  747
  313  219  320  208  274  390  290  378  222  199  143  280  210  216
  256  328  135 1575  137  358 1218  189  285  221  194  239  414  266
  768  304  405  542  300  312  923  211  303  763  243  181  302  406
  284  436  413  170 1557  379  226 1243  389  560  246  201  275 1883
  794  234  408  578  341  242  212 1737  195  271  340 1554  128  177
  264  283  339  411  453  469  533  537 1562  502  248  584 1339 1225
  353  461  293  484  677  541  477  241  363  539  785  265 1182  790
 2079  400  991  269  588  778  571  376  425  394  605 1815  630  467
  410  427  532  416  334  205  268  270  330  426  595 2175  964  245
  530 1445  579  811  364  311  200  423  516 1093  449  704  225  316
  849  260 1673  315  796 1024  591  865  305  777  367  299  393  473
  819 1572  347  885  640  767 1036  574  355  551  365  483  466  191
  441  417  638  553  922  563  511  549  749  448  332 1264  350  327
  314  257  610  548  656  839  781  385  451  538  440  401  326  346
  690  422  306  263  279  407  273  295  985 1735  403  545  319  338
  381  255  386  890  825  297  552  333  282  577 1582 1350  834  806
  602  458  475  594  369  671 1044  765  357 1126  351  664 2049  766
  428 1338  277  354  382  429  681  744 1707  708 1436  356  624  649
  660  691  337 1210  244  342  603  546  450 1710  572  380  673  756
  614  377 1547  446  439  309  445  373  396  291  470 1221 1071 1486
  457  780  928  568  601  580  472  522  418  322 2232  851  527 1215
  519 1559 1284  662  742  368  805  728 1570 1497 1274  557 1714  371
  318  474  637  669  362  486  495  499  769 1107  659  773  900  494
  828  848  971  336  852  498  916  736  335 1685  391 1461 1543  590
  712  480  981 1780 1744  547  375  714  762 1328  317  761 1031  558
  676 1639 1362  459  523  515  804  526 2189  628  586 1588  325  437
  443  420  738  415  454  489  531  435  880  930  854 1142 1434  534
  476  740  433  463 1330  678 1750  421  460  810 1652  748  387 1418
 1956  683 1617  442  622  665  730  617  807  506  774  518  452 1450
 1442  501  616  555  308  444  359  855  663 1317  561  478  838 1847
  743 1164  343 1224  331  507  543  496  402 1207  716  567  528  918
  500  479  861  324  409  653  800  345  908  471  438  782  813  970
  550  697  658  643  754  751  670  947  399 1174 1236  512  621  392
 1345  654 1280 1244  764  853  575 1938  348  693  687  746  565  618
  639 2056  672 1518  911 1200  702 2039  731  717  540  434  755  497
 1124  488 1109  573  626  344  570  719  725  481  843  980 1270  995
  899  632]
Número de valores únicos: 786

In [14]:
df['manufacturer_name'].unique()

array(['Subaru', 'LADA', 'Dodge', 'УАЗ', 'Kia', 'Opel', 'Москвич',
       'Alfa Romeo', 'Acura', 'Dacia', 'Lexus', 'Mitsubishi', 'Lancia',
       'Citroen', 'Mini', 'Jaguar', 'Porsche', 'SsangYong', 'Daewoo',
       'Geely', 'ВАЗ', 'Fiat', 'Ford', 'Renault', 'Seat', 'Rover',
       'Volkswagen', 'Lifan', 'Jeep', 'Cadillac', 'Audi', 'ЗАЗ', 'Toyota',
       'ГАЗ', 'Volvo', 'Chevrolet', 'Great Wall', 'Buick', 'Pontiac',
       'Lincoln', 'Hyundai', 'Nissan', 'Suzuki', 'BMW', 'Mazda',
       'Land Rover', 'Iveco', 'Skoda', 'Saab', 'Infiniti', 'Chery',
       'Honda', 'Mercedes-Benz', 'Peugeot', 'Chrysler'], dtype=object)